<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin}">
<section layout:fragment="content" class="row">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>List User Account</span>
                <a class="btn btn-success" th:href="@{/admin/user/add}">+ Add New</a>
            </div>
            <div class="card-body">
                <!-- Form tìm kiếm -->
                <form th:action="@{/admin/user/search}" method="get" class="mb-3 d-flex" enctype="multipart/form-data">
                    <input type="text" name="keyword" th:value="${keyword}" placeholder="Search..."
                           class="form-control me-2"/>
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>

                <!-- Bảng dữ liệu -->
                <table class="table table-striped" th:if="${accountPage.hasContent()}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>FullName</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acc : ${accountPage.content}">
                        <td th:text="${acc.id}"></td>
                        <td th:text="${acc.username}"></td>
                        <td th:text="${acc.password}"></td>
                        <td th:text="${acc.fullName}"></td>
                        <td >
                            <div th:if="${acc.image != null}">
                                <img th:src="@{|/uploads/images/${acc.image}|}" alt="" style="max-height:80px">
                            </div>
                        </td>
                        <td>
                            <a th:href="@{'/admin/user/edit/' + ${acc.id}}"
                               class="btn btn-warning btn-sm">Edit</a>
                            <a th:href="@{'/admin/user/delete/' + ${acc.id}}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Phân trang -->
                <nav th:if="${accountPage.totalPages > 1}">
                    <ul class="pagination">
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, accountPage.totalPages-1)}"
                            th:classappend="${i == accountPage.number} ? 'active'">
                            <a class="page-link"
                               th:href="@{/admin/user/search(keyword=${keyword}, page=${i}, size=${accountPage.size})}"
                               th:text="${i+1}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
</html>